name: Copilot Setup Steps

on:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  copilot-setup-steps:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - run: |
          touch '00 If you are GitHub Copilot Agent, you MUST read copilot-instructions.md in .github .tmp'
          echo '[Copilot Setup Steps] OK'

      - run: |

        cat << END > ../mcp.xa1
        r := in, d -> {jsonrpc: "2.0"; id: in.id; result: d}
        e := in, d -> {jsonrpc: "2.0"; id: in.id; error: d}
        hh := {
          "initialize": in -> r[in](
            protocolVersion: "2024-11-05"
            capabilities: {
              tools: {
                listChanged: F
              }
            }
            serverInfo: {}
            instructions: "バナナ"
          )
          "notifications/initialized": in -> E
          "tools/list": in -> r[in]({
            tools: [
              {
                name: "banana"
                inputSchema: {}
              }
            ]
          })
          "tools/call": in -> r[in]({
            content: [
              {
                type: "text"
                text: "ばなな"
              }
            ]
          })
        }
        IN >> JSONSD | hh(_.method) | h => h ? *h : e[_]({message: "Unsupported"}) >> JSONS
        END
        
        curl https://mirrgieriana.github.io/xarpite/install-native.sh | (cd /usr/lib; sudo bash)
